.jumbotron {
	text-align: center;
}
.form-signin {
	background-color: grey;
	padding: 20px;
	margin: 60px;
	max-width: 50%;
	border-radius: 20px;
	border: 1px solid green;
}

.form-signin input.form-control {
	margin-bottom: 20px;
	height: 50px;
}

